main{
    background-color: $themeOrangeLight;
    min-height: 100vh;
    padding: 1em .4em;
    h2{
        padding: .5em 0; 
     }

     img{
         width: 100%;
         max-width: 70em;
         height: auto;
         margin: 2em 0; 
     }

    @include flexy($just: start, $dir: column);
    padding-left: 1em;

    @include mq("lg"){ 
        overflow: scroll;
        max-height: 100vh;
        .content{
            padding: 0 10px;
            margin: auto 0;
        }
    }
}