nav{
    background-color: rgb(189, 93, 56);
    color: white;

    @include flexy($just: center, $dir:column);
    

    .title-img{
        display: none;
        background-color: rgb(187, 112, 82);
        width: 10em;
        height: 10em;
        margin: 0 auto;
        position: relative;
        border-radius: 50%;
        img{
            border-radius: 50%;
            width: 9em;
            height: 9em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    h1{
        padding-left: .4em;
    }
   
    a{
        color: white;
    }
    ul > li{
        text-align: center;
        margin: 0 auto;
        padding: .5em;
        font-size: 1.5em;
        &:hover{
            background-color: rgb(187, 112, 82);
            cursor: pointer;
        }
        &:active{
            background-color: rgb(189, 93, 56);
        }
    }

    .toggle-btn{
        position: absolute;
        top: 1.75em;
        right: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar{
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
        }
    }

    .nav-items{
        display: none;
    }

    .active{
        display: block;
    }

    @include mq("lg"){
        .toggle-btn{
            display: none;
        }
        h1{
            text-align: center;
            padding-left: 0px;
        }
        .title-img{
            display: block;
        }

        .nav-items{
            display: block;
        }
    }
}

